.loading {
    background: url("../img/103.gif") no-repeat center center;
    height: 60px;
    margin-top: 30px;
}
p.tweet {
    font-size: 20px;
    line-height: 24px;
}
.media.entry {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0px;
}
.screen-entry {
    float:left;
    margin:4px;
    text-align:center;
    padding: 8px;
    width: 162px;
}
.screen-entry img {
    margin-bottom: 6px;
}